@import url('https://fonts.googleapis.com/css2?family=Cairo+Play&family=Noto+Sans+Wancho&family=Roboto+Condensed:ital,wght@1,500&family=Rubik:ital,wght@1,500&display=swap');
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}
*{
  padding: 0%;
  margin: 0%;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #1e1e2f;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 15vmin;
    height: 15vmin;
    border-radius: 15vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 8;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #2d2d44;
    top: 27%;
    left: 66%;
    animation-duration: 217s;
    animation-delay: -341s;
    transform-origin: 21vw 16vh;
    box-shadow: -30vmin 0 4.737268666037873vmin currentColor;
}
.background span:nth-child(1) {
    color: #2d2d44;
    top: 45%;
    left: 63%;
    animation-duration: 137s;
    animation-delay: -236s;
    transform-origin: 15vw 17vh;
    box-shadow: 30vmin 0 3.8118302913208257vmin currentColor;
}
.background span:nth-child(2) {
    color: #2d2d44;
    top: 23%;
    left: 40%;
    animation-duration: 164s;
    animation-delay: -333s;
    transform-origin: -17vw 21vh;
    box-shadow: -30vmin 0 4.529535773659656vmin currentColor;
}
.background span:nth-child(3) {
    color: #2d2d44;
    top: 23%;
    left: 83%;
    animation-duration: 419s;
    animation-delay: -372s;
    transform-origin: -3vw 22vh;
    box-shadow: -30vmin 0 4.705357010267154vmin currentColor;
}
.background span:nth-child(4) {
    color: #2d2d44;
    top: 70%;
    left: 54%;
    animation-duration: 25s;
    animation-delay: -217s;
    transform-origin: -2vw -15vh;
    box-shadow: 30vmin 0 4.089476947641088vmin currentColor;
}
.background span:nth-child(5) {
    color: #2d2d44;
    top: 78%;
    left: 44%;
    animation-duration: 120s;
    animation-delay: -225s;
    transform-origin: 3vw -6vh;
    box-shadow: -30vmin 0 4.313325912559196vmin currentColor;
}
.background span:nth-child(6) {
    color: #2d2d44;
    top: 62%;
    left: 38%;
    animation-duration: 125s;
    animation-delay: -131s;
    transform-origin: -17vw 11vh;
    box-shadow: -30vmin 0 4.100969408817375vmin currentColor;
}
.background span:nth-child(7) {
    color: #2d2d44;
    top: 36%;
    left: 33%;
    animation-duration: 295s;
    animation-delay: -78s;
    transform-origin: -6vw -2vh;
    box-shadow: 30vmin 0 4.162190946742435vmin currentColor;
}
.background span:nth-child(8) {
    color: #2d2d44;
    top: 77%;
    left: 94%;
    animation-duration: 272s;
    animation-delay: -392s;
    transform-origin: 17vw -23vh;
    box-shadow: -30vmin 0 4.541903509823252vmin currentColor;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  background-color: #2d2d44;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.navbar .textbar {
  position: relative;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
   margin-left: 40px;
}
.navbar .textbar::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: .3s;
}
.menu-button {
  display: none;
}
.navbar .textbar:hover::before {
  width: 100%;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav .textbar1{
  position: relative;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
}
nav .textbar1::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: .3s;
}
nav .textbar1:hover::before {
  width: 100%;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #2d2d44;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar .textbar1 {
  width: 100%;
}
.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-category {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    margin-top: 10%;
    padding: 0 10vw;
    font-size: 35px;
    margin-bottom: 30px;
    color: #fff;
  }
  .sub {
    margin-top: 0%;
  }
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }
  
  .product-image {
    display: inline-block;
    justify-items: center;
    align-content: center;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
  }
  
  .product-thumb {
    display: flex;
    width: 90%;
  }
.container {
  position: relative;
}
.container .wrapper{
  width: 80vw;
  height: 75vh;
  box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.6);
  margin: 4rem auto;
  margin-bottom: -2rem;
  overflow: hidden;
}
.container .wrapper-holder {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  height: 100%;
  width: 100%;
  animation: slider 40s ease-in-out infinite
  alternate;

}
.container #slider-img-1 {
  background-image: url(../img/promos23_budsfe.png);
  background-position: center;

}
.container #slider-img-2 {
  background-image: url(../img/promos23_budsfe.png);
  background-position: center;
}
.container #slider-img-3 {
  background-image: url(../img/promos23_budsfe.png);
  background-position: center;
}
.container #slider-img-4 {
  background-image: url(../img/promos23_budsfe.png);
  background-position: center;
}
.container .button-holder .button {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: inline-block;
  margin: .3rem;
}
.container .button-holder {
  position: absolute;
  left: 45%;
  bottom: 0%;
}
.button:hover {
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.6);
}
@keyframes slider {
  0%{transform: translateX(0%);}
  10%{transform: translateX(-100%);}
  20%{transform: translateX(-200%);}
  20%{transform: translateX(-200%);}
  30%{transform: translateX(-200%);}
  40%{transform: translateX(-300%);}
  50%{transform: translateX(-300%);}
  60%{transform: translateX(-300%);}
  70%{transform: translateX(-300%);}
  80%{transform: translateX(-300%);}
  90%{transform: translateX(0%);}
  100%{transform: translateX(0%);}
}
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 120px;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #2d2d44;
    color: #fff;
  }
  .buy {
    display: inline-block;
    justify-items: center;
    position: absolute;
    width: 15%;
  }
  .buy:hover {
    transform: translateY(-2px);
  }
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
    color: #fff;
  }
  
  .product-brand {
    text-transform: uppercase;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.fontt {
    font-size: 20px;
}
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-size: 20px;
    font-family: "Cairo Play", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: none;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 5vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0));
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
.box-about {
  margin-top: 100px;
  max-width: 400px;
  max-height: 500px;
  background-color: rgba(45, 45, 68, 0.3);
  border-radius: 3%;
}
.text-about {
  font-size: 20px;
  color: #fff;
  font-family: "Noto Sans Wancho", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 5%;
}
.merda {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 20px;
  color: #fff;
  font-family: "Noto Sans Wancho", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

/* From Uiverse.io by faxriddin20 */ 
.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 5px;
  background-color: #2d2d44;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}

.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}

.containerFour:hover {
  background-color: green;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.qrcode {
  margin-top: 200px;
  max-width: 200px;
  border: 3px solid #2d2d44;
}
  @media (max-width: 768px) {
    .product-category {
      margin-top: 30%;
    }
    .pre-btn,
    .nxt-btn {
      display: none;
    }
    .container {
      display: none;
    }
    .hideOnMobile {
      display: none;
    }
    .menu-button {
      display: inline-block;
      margin-right: 10px;
    }
    .err {
      display: none;
    }
    .header {
      padding: 15px 0px;
      padding-left: 5px;
    }
    .box-about {
      margin-top: 100px;
      width: 300px;
      height: 530px;
    }
    .text-about {
      font-size: 18px;
    }
  }
